/* Base styles */
#services {
    background-color: rgb(6, 83, 94);
    border-radius: 5vh;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.heading {
    text-align: center;
}

.icon-row {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

/* Media queries */
@media (max-width: 1224px) {
    .flip-card {
        width: 50%;
    }
}

@media (min-resolution: 2dppx) {
    .icon {
        font-size: 40px;
    }
}

/* Default size for desktop */
.footer-icon {
    width: 30px;
    height: 30px;
}

/* Smartphone sizes */
@media (max-width: 768px) {
    .footer-icon {
        width: 30px;
        height: 50px;
    }
}
