/* project.css */
#projects {
    opacity: 0.74;
    box-shadow:15px 12px 12px 15px rgba(0, 0, 0, 0.5);
    padding: 50px;
    border-radius: 5vh;
}

.heading {
    text-align: center;
    font-family: Jaldi;
    font-size: 38px;
}

.projects-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 53, 56);
    mix-blend-mode: lighten;
    opacity: 0.74;
    background-size: cover;
    overflow: hidden; /* This ensures that the content doesn't overflow the viewport */
    border-radius: 5vh;
    padding: 10px;

}

/* Adjusted card class using Bootstrap */
.card {
    font-weight: bolder;
    font-size: 20px;
    width: 200px;
    height: 200px;
    background-color: hwb(184 23% 1%);
    margin: 10px;
    padding: 20px;
    text-align: center;
    color: #0c0a0a;
    cursor: pointer;
    transition: all 0.3s ease;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.github-button {
    background-color: transparent;
    color: #657c66;
    border: 2px solid #4CAF50;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.github-button:hover {
    background-color: #101110;
    color: rgb(41, 37, 37);
}

/* Media query for smartphones */
@media only screen and (max-width: 600px) {
    .card {
        width: 80%; /* Adjust width for smaller screens */
        height: auto;
        font-size: 16px;
    }
}

/* Media query for tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .heading {
        font-size: 32px;
    }
}
