#homepage-container {
  display: flex;
  height:  100vh;
  flex-grow: -1;
  background-image: url('../assets/animated-man-computer-coding-nae6mec378lsg1i3.gif');
  background-size: cover;
  background-position: center;
  border-radius:  20px;
}

.sidebar {
  width:  200px; /* Adjust as needed */
  background-color: transparent;
}

.content {
  flex:  1;
  padding:  20px;
}

.contact {
  position:absolute;
  background-color: transparent;
  color: rgb(17, 110, 138);
  border: none;
  padding:  10px  20px;
  font-size:  16px;
  border-radius:  5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-left: 80vh;
  margin-top: 77vh;
}

.contact:hover {
  background-color: hsl(180,  79%,  35%);
  color: white;
}

.download {
  position:absolute;
  background-color:transparent;
  color: white;
  border: none;
  padding:  10px  20px;
  font-size:  16px;
  border-radius:  5px;
  cursor: pointer;
  margin-top:  77vh;
  margin-left: 120vh;
}

.download:hover {
  background-color: hsl(204,  65%,  48%);
}


.loader-wrapper {
  width:  100%;
  height:  100%;
  position: fixed;
  top:  0;
  left:  0;
  background-color: #0b0b0b;
  display: grid;
  place-items: center;
}

.loader {
  border:  16px solid #e3e3e3;
  border-top:  16px solid #3498db;
  border-radius:  50%;
  width:  140px;
  height:  140px;
  animation: spin  1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Existing CSS */

/* Adjustments for responsiveness */
@media (max-width:  768px) {
  .homepage-container {
    background-size:cover; 
  }

  .sidebar {
    width:  100px; 
  }

  .content {
    padding:  15px; 
  }


  .contact,
  .download {
    /* padding:  8px  15px; */
    font-size:  14px; 
  }

  .loader {
    width:  80px; 
    height:  80px; 
  }
}

@media (max-width:  480px) {
  .sidebar {
    display: none; 
  }


  .contact{
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 20vh;
    margin-top: 70vh;
  }
  .download{
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 20vh;
    /* margin-top: 50vh; */
    margin-top: 250px;
  }
}
