/* Existing CSS */
#homepage-container {
  top:0;
  margin: 0;
  background-image: url('/src/components/assets/animated-man-computer-coding-nae6mec378lsg1i3.gif');
  background-size: cover; /* Make the background image responsive */
  /*background-attachment: fixed;*/
  border-radius: 5vh;
  box-shadow:15px 12px 12px 15px rgba(0, 0, 0, 0.5);
}

.fixed-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px; /* Adjust the width as needed */
  overflow-y: auto; /* Enable scrolling within the sidebar */
  color: #0f4b5e;
}
.homepage-btns {
  display: flex;
  justify-content: space-around; /* or any other spacing you prefer */
  margin-bottom: 10vh;
  align-items: center; /* Center buttons horizontally */
  /* Push content to the bottom */
}

.btn-contact,
.btn-download {
  padding: 20px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 25px; /* Adjust as needed */
  width: 100%; /* Set width to 100% for responsiveness */
  max-width: 200px; /* Limit maximum width for larger screens */
}

.btn-contact:hover,
.btn-download:hover {
  background-color: hsl(180, 79%, 35%);
  color: hsl(180, 79%, 35%);
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0b0b0b;
  display: grid;
  place-items: center;
}

.loader {
  border: 16px solid #e3e3e3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Bootstrap CSS for responsiveness */
@media (max-width: 768px) {
  .homepage-container {
    background-size: cover;
    border-radius: 0;
  }

  .homepage-btns {
    align-items: center;
  }

  .fixed-sidebar {
    width: 100%; /* Set width to 100% for responsiveness */
    max-width: 200px; /* Limit maximum width for larger screens */
    border-radius: 5vh;
  }
  .btn-contact,
  .btn-download {
    width: 100%; /* Set width to 100% for responsiveness */
    max-width: 150px; /* Limit maximum width for larger screens */
  }

  .loader {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 480px) {
  .sidebar {
    display: none;
  }

  .btn-contact,
  .btn-download {
    margin-top: 10px; /* Adjust margin-top for smaller screens */
  }
}
