/* about.css */
/* Base styles */
#About {
  background-color: rgb(6,  83,  94);
  width:  98vw;
  border-radius:  70px;
}
.about_me{
 text-align: justify;
 padding: 15px;
 
}
.footer {
  text-align: center; /* Align icons to the center */
}

/* Default size for desktop */
.footer-icon {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .footer-icon {
    width: 30px;
    height: 50px;
  }
}

.footer .copyright {
  margin-top: 10px; /* Add some space between the social links and the copyright notice */
  font-size: 14px; /* Adjust font size as needed */
  color: #0e0d0d; /* Change color to match your design */
  font-style: oblique;
  font-weight: bolder;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius:  60px;
  text-align: center;
  justify-content: center;
}

.about-heading {
  color: beige;
  text-align: center;
}

.content-container {
  display: flex;
  gap:  10px;
  flex-direction: column;
  content: normal;
}

.image img {
  max-width:  100%;
  text-align: center;
  height: 50vh; 
  box-shadow:  40px  5px  0px rgba(15,  13,  13,  0.1); /* Add shadow effect */
  margin-left: 85vh;
  margin-right: 10vh;
  float:right;
}

.circle {
  position: absolute;
  width:  830px;
  height:  830px;
  left:  521.59px;
  top:  76.85px;
  background: radial-gradient(46.81%  47.17% at  50%  50%, rgba(211,  226,  233,  0.504)  0%, rgba(56,  126,  158,  0)  100%);
  mix-blend-mode: lighten;
  opacity:  0.74;
}

.triangle {
  position: absolute;
  width:  0;
  height:  100px;
  border-left:  230px solid transparent;
  border-right:  230px solid transparent;
  border-bottom:  460px solid rgb(20,  67,  88);
  margin:  0 auto;
  top:  0;
  left:  50%;
  transform: translateX(-50%);
  z-index: -1;
}

.footer {
  text-align: center;
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.social-links li {
  display: inline-block;
  margin-right: 10px;
}

.social-links li:last-child {
  margin-right: 0;
}

/* Media queries for responsiveness */
@media (max-width:  768px) {
  .about-me-container {
    flex-direction: column; /* Stack content vertically on smaller screens */
  }

  .image img {
    height: auto; /* Adjust height to maintain aspect ratio */
  }

}

@media (max-width:  480px) {
  #About {
    border-radius:  20px; 
    text-align: center;
  }
  .about_me{
    text-align: center;
    padding: 10px;
  }
  .image{
    border-radius:  20px;
    padding: 25px;
  }

  .circle {
    width:  400px; 
    height:  400px;
    left:  200px; 
    top:  30px;
    align-items: center;
  }
}
