/* Base styles */
#About {
  background-color: rgb(6, 83, 94);
  border-radius: 5vh;
  text-align: center;
  padding-right: 10px; /* Add padding to adjust content within the container */
  margin-bottom: 50px;
  box-shadow:15px 12px 12px 15px rgba(0, 0, 0, 0.5);
}

.about_me {
  text-align: center;
  margin: 5px;
  padding: 35px;
  font-weight: bold;
  font-size: 18px;
}

.about-me-container {
  display: flex;
  flex-direction: row-reverse; /* Image on the right, text on the left */
  text-align:justify;
  /*padding: 10px; !* Add padding to adjust content within the container *!*/
}

.about-heading {
  color: beige;
  text-align: center;
  padding: 25px;
}

.container {
  /*display: flex;*/
  /*flex-direction: column;*/
  padding: 20px;
  text-align: center;
  margin: 0;
}

.image img {
  height: 60vh;
  max-width: 60%; /* Ensure the image fits within its container */
  border-radius: 70px;
  margin-left: 10vh;
}
.footer {
  text-align: center;
  padding: 20px; /* Add padding to adjust content within the container */
}

.footer {
  margin-top: 10px;
  font-size: 18px;
  color: #0e0d0d;
  font-style: oblique;
  font-weight: bolder;
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.social-links li {
  display: inline-block;
  margin-right: 10px;
}

.social-links li:last-child {
  margin-right: 0;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  #About {
    border-radius: 5vh;
  }
  .about_me {
    text-align: justify;
  }
  .about-me-container {
    flex-direction: column;
  }
  .image img {
    height: auto;
  }
}
