/* Base styles */
#About {
  background-color: rgb(6, 83, 94);
  border-radius: 15vh;
  text-align: center;
  padding: 20px; /* Add padding to adjust content within the container */
}

.about_me {
  text-align: justify;
}

.about-me-container {
  display: flex;
  flex-direction: row-reverse; /* Image on the right, text on the left */
  text-align: start;
  padding: 20px; /* Add padding to adjust content within the container */
}

.about-heading {
  color: beige;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin: 0;
}

.image img {
  height: 60vh;
  max-width: 60%; /* Ensure the image fits within its container */
  border-radius: 70px;
  margin-left: 10vh;
}
.footer {
  text-align: center;
  padding: 20px; /* Add padding to adjust content within the container */
}

.footer .copyright {
  margin-top: 10px;
  font-size: 14px;
  color: #0e0d0d;
  font-style: oblique;
  font-weight: bolder;
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.social-links li {
  display: inline-block;
  margin-right: 10px;
}

.social-links li:last-child {
  margin-right: 0;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  #About {
    border-radius: 15vh;
  }
  .about_me {
    text-align: center;
  }
  .about-me-container {
    flex-direction: column;
  }
  .image img {
    height: auto;
  }
}
