/* HomePage.css */
.contact-form-box{
  box-shadow:15px 12px 12px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5vh;
  margin: 15px;
}
.Contact {
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height:100vh;
  width: 97vw;
  position: relative;
  mix-blend-mode: lighten;
  opacity: 0.74;
  background-size: cover;
  perspective: 1000px;
  overflow: hidden;
  border-radius: 50px;
  background-color: rgb(6, 83, 94);
}

.contact-form {
  max-width: 100%;
  background-color: rgb(38, 86, 100);
}

.form-group {
  margin-bottom: 20px;
  background-color: rgb(6,  83,  94);
}

label {
  display:block;
  margin-bottom: 5px;
  align-content: center;
  font-size: 26px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="message"].textarea {
  width: 60%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 70px;
}

.container {
  margin: 0 auto;
  background-color: rgb(6, 83, 94);
}

button[type="submit"] {
  width: 30%;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  align-content:center;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.form-container form {
  flex: 1;
  box-shadow: 15px 12px 12px 15px rgba(0, 0, 0, 0.5);
}

.heading {
  align-items: center;
  align-content: center;
  margin: 15px;
  padding-top: 10px;
}

.footer {
  text-align: center;
  font-size: 14px;
  color: #0e0d0d;
  font-style: oblique;
  font-weight: bolder;
}

.footer-icon {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .footer-icon {
    width: 30px;
    height: 50px;
  }
}
